<footer class="footer">
    <div class="content has-text-centered">
        <p>Site hosted on <a href="https://heliohost.org/" class="has-text-dark">Heliohost</a></p>
        <hr>
        <a href="https://keybase.io/tycoonlover1359"><i class="fab fa-keybase has-text-dark"></i></a>
        <a href="https://twitter.com/tycoonlover1359"><i class="fab fa-twitter has-text-dark"></i></a>
        <a href="https://github.com/tycoonlover1359"><i class="fab fa-github has-text-dark"></i></a>
        <p>Copyright © 2021 Tycoonlover1359. All Rights Reserved.</p>
    </div>
</footer>