<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <script defer src="/static/scripts/navbar.js"></script>
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p class="has-text-dark">Tycoonlover1359</p>
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/">Home</a>
            <div class="navbar-dropdown">
                <a href="/#welcome" class="navbar-item">Welcome</a>
                <a href="/#gaming" class="navbar-item">Gaming</a>
                <a href="/#programming" class="navbar-item">Programming</a>
                <a href="/#form" class="navbar-item">Contact Me</a>
            </div>
        </div>
        <!--<a class="navbar-item" href="/blog/home">Blog</a>-->
    </div>
</nav>