{% extends "/Partials/base.html" %}
{% block title %}File Not Found{% endblock %}
{% block content %}
<section class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">😢</h1>
            <br>
            <h1 class="title">Uh oh!</h1>
            <h2 class="subtitle">File Not Found</h2>
            <hr>
            <p>It looks like you attempted to access a file that wasn't on this server.</p>
            <p>If you want, try checking the URL you followed for typos. Otherwise, contact tycoonlover1359 for assistance if you believe that the file you're trying to access exists.</p>
            <hr>
            <a class="button" href="/">Return to Home</a>
        </div>
    </div>
</section>
{% endblock %}